.popup__container {
    padding: var(--s1);
    position: absolute;
    width: calc(100% - 2rem);
    max-width: 430px;
    background-color: var(--color-light);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 1;
    /* -webkit-transform: translate(-50%, -50%) scale(0.25);
            transform: translate(-50%, -50%) scale(0.25); */
    -webkit-transition: all .5s .2s;
    transition: all .5s .2s;
  }
