@import url('./__info/profile__info.css');
@import url('./__name/profile__name.css');
@import url('./__job/profile__job.css');

.profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: var(--s3);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

  .profile * {
    margin-top: 0;
    margin-bottom: 0;
  } 
  
  .profile * + * {
    margin-top: var(--s0);
  }

  @media (min-width: 817px) {
    .profile {
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
  }

  .profile * + * {
    margin-top: 0;
  }
}
