.button_submit {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-color: transparent;
    width: 100%;
    padding: var(--s0) 0;
    margin-top: 3rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.button_submit:hover {
    opacity: .8;
}
