.profile__name {
    font-weight: var(--font-medium);
    font-size: 1.375rem;
    margin-right: .75rem;
    line-height: 3.5rem;
}

@media (min-width: 50em) {
    .profile__name {
        font-size: 2rem;
        margin-right: 1.125rem;
    }
}

@media (min-width: 75em) {
    .profile__name{
        font-size: 2.625rem;
        margin-right: 1.5rem;
    }
}
