.profile__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width: 817px) {
    .profile__info {
        justify-content: flex-start;
    }
}
