@import url('./_type/popup__modal_type_image.css');
@import url('./_type/popup__modal_type_form.css');

.popup__modal {
    position: relative;
    opacity: 1;
    -webkit-transition: all .5s .2s;
    transition: all .5s .2s;
  }

  @media (min-width: 31.25em) {
        .popup__modal {
            height: 20.625rem;
        }
    }
