.button_edit {
    width: 1.125rem;
    height: 1.125rem;
    margin-top: 0;
    font-size: 0;
}

@media (min-width: 50em) {
    .button_edit {
        width: 1.3125rem;
        height: 1.3125rem;
    }
}

@media (min-width: 75em) {
    .button_edit {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: .5rem;
    }
}
